.card-schedule {
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px;
    text-align: center;
}

.card-schedule:hover {
    background-color: rgba(0, 0, 0, 0.025);
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.2);
    top: -6px;
    cursor: pointer;
}


.card-schedule-content {
    padding-bottom:0 ;
    padding: 8px;
}



.card-schedule-text {
    font-size: 18px;
    color: #000;
    margin: 0;
    
}