.welcome-conatiner {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.welcome-card {
    background-color: #fff;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, .1));
}

.welcome-line h1 {
    font-size: 6.5rem;
    font-weight: 700;
    color: #000;
    margin: 0px;
    padding: 0px;
    /* make all upercase */
    text-transform: uppercase;
    /* prevent user to copy */
    user-select: none;
    /* add leter spacing 8px */
    letter-spacing: 8px;
}

.welcome-line h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin: 0px;
    padding: 0px;
    /* make all upercase */
    text-transform: uppercase;
    /* prevent user to copy */
    user-select: none;
}

.welcome-line h2 span {
    color: #2866cb;
}

.details-line p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin: 6px 0;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(to right,
            #231557 0%,
            #44107a 20%,
            #ff1361 40%,
            #e65d0e 60%,
            #ff1361 80%,
            #44107a 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}