.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar-element {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 16px;
}

.navbar-logo {
    height: 50px;
}

.logo-text {
    height: 30px;
}