.login-w-google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #333 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;

}

.login-w-google p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.profile {
    border: #333 1px solid;
    display: flex;
    gap: 10px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}